<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}/log/nlog-internal.log" >
  <targets>
    <target name="TcpOutlet" xsi:type="NLogViewer" address="tcp4://localhost:4505"/>
    <target name="File" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${threadname}|${logger}|${callsite:className=false:includeSourcePath=false:methodName=true}|${message}|${exception:format=tostring}" archiveFileName="${basedir}/archives/{#}.log" archiveNumbering="Date" archiveEvery="Month" maxArchiveFiles="365" archiveDateFormat="yyyyMMdd" enableArchiveFileCompression="true" concurrentWrites="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="TcpOutlet" />
    <logger name="*" minlevel="Debug" writeTo="File" />
  </rules>
</nlog>