@using FurnitureStore.ViewModels;
@model IList<FurnitureStore.Models.Furniture>

@{
    ViewBag.Title = "Мебель для офиса";
    ViewBag.MetaDescription = "Выбрать и купить мебель в Алматы от салона офисной мебели ВЕЛЛЕ Компани";
    ViewBag.MetaKeywords = "мебель для офиса,мебельный салон ВЕЛЛЕ Компани,салон офисной мебели ВЕЛЛЕ Компани,мебельный салон,салон офисной мебели,салон офисной мебели Алматы,офисная мебель,офисная мебель Алматы,мебель,мебель Алматы,контакты ВЕЛЛЕ Компани";
}

<div class="jumbotron">
    <h1>ВЕЛЛЕ Компани</h1>
    <p class="lead">Каждый день 2,5 тысячи человек приходят в салон офисной мебели ВЕЛЛЕ Компани, чтобы присмотреть себе новый стол в офис, пенал или шкаф, мебель для офиса или бизнеса. Некоторые ищут мебель для офиса или адрес мебельного салона.</p>
    <p>@Html.ActionLink("Посмотреть все предложения", "Index", "Furniture", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row" style="background-color: #fff; margin-left: 20px;">
    @Html.Partial("_Product", Model)
</div>
