@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h1 class="text-danger">Ошибка @*@Model.Exception.Message*@</h1>
<h2 class="text-danger">При обработке запроса возникла ошибка</h2>
@*<p>@Model.Exception</p>*@
@Html.ActionLink("Назад", @Model.ActionName, @Model.ControllerName, null, new { @class = "btn btn-default" })
